<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 不再需要前台服务权限 -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android.supportsRtl="true"
        android:theme="@style/Theme.SmsForwarder">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="A simple SMS forwarder module written in Kotlin." />
        <meta-data
            android:name="xposedminversion"
            android:value="52" />

        <meta-data
            android:name="xposedscope"
            android:value="com.android.mms" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- START: 关键修改 -->

        <!-- 1. 移除不再需要的 BroadcastReceiver 和 Service -->
        <!-- <receiver android:name=".SmsBroadcastReceiver" ... /> -->
        <!-- <service android:name=".SmsHandlingService" ... /> -->

        <!-- 2. 注册新的 ContentProvider -->
        <!-- android:authorities 必须是唯一的，作为Provider的地址 -->
        <!-- android:exported="true" 允许其他进程（如 com.android.mms）访问它 -->
        <provider
            android:name=".SmsProvider"
            android:authorities="github.oftx.smsforwarder.provider"
            android:exported="true" />

        <!-- END: 关键修改 -->

    </application>

</manifest>